<div class="main_page_content">
  <h2 class="page_title"><%= t("user_messages.sent_messages")%></h2>
  <div class="content_container">
    <%= render :partial => "/messages/messages_list", :locals => {:messages => @messages, :show_from => false} %>
  </div>
</div>

<% content_for :sidebar do %>
  <%= render "/shared/sidebar/new_transport" %>
  <%= render "/shared/sidebar/transport_search" %>
<% end %>