<p>السلام عليكم ورحمة الله وبركاته . . </p>
<p><%= t("user_mailer.new_roadmate.body") %></p>
<p><%= link_to @transport_request.transport.title, transport_url(@transport_request.transport) + "?show_request=true#show_requests"  %></p>