<div class="side_page_content">
  <h2 class="side_page_title"><%= link_to t("sidebar.block_list"), user_blocks_path(current_user) %></h2>
  <div class="content_container">
    <p><%= t("sidebar.block_list_hint")%> </p>
    <span><%= link_to image_tag("/images/graphic/blocked.png"), user_blocks_path(current_user) %></span>
  </div>
</div>