<div class="side_page_content">
  <h2 class="side_page_title"><%= link_to t("sidebar.feedback"), new_feedback_path %></h2>
  <div class="content_container">
    <p><%= t("sidebar.feedback_hint")%> </p>
    <span><%= link_to image_tag("/images/graphic/feedback.png"), new_feedback_path %></span>
  </div>
</div>