<div class="side_page_content">
  <h2 class="side_page_title"><%= link_to "على الفيسبوك", page_path(:invite_friends)%></h2>
  <div class="content_container white_span">
    <%= render :partial => "/shared/fb/fb_like", :locals => {:fb_width => "265"} %>
  </div>
</div>