<div class="side_page_content">
  <h2 class="side_page_title"><%= link_to t("sidebar.my_transports"), transports_path %></h2>
  <div class="content_container">
    <p><%= t("sidebar.my_transports_hint")%> </p>
    <span><%= link_to image_tag("/images/graphic/my_transports.png"), transports_path %></span>
  </div>
</div>