<div class="side_page_content">
  <h2 class="side_page_title"><%= t("sidebar.share") %></h2>
  <div class="content_container">
    <p><%= t("sidebar.share_hint")%> </p>
    <span><%= link_to image_tag("/images/graphic/share.png"), share_link, :confirm => "هل أنت متاكد من نشر التوصيلة ؟" %></span>
  </div>
</div>