<% if !current_user || !current_user.has_car %>
<div class="side_page_content">
  <h2 class="side_page_title"><%= link_to t("sidebar.transport_search"), new_search_path %></h2>
  <div class="content_container">
    <p><%= t("sidebar.transport_search_hint")%> </p>
    <span><%= link_to image_tag("/images/graphic/transport_search.png"), new_search_path %></span>
  </div>
</div>
<% end %>