<div class="sub_page_content">
  <h3 class="title">عدد الأصدقاء</h3>
  <div class="sub_page_container">
    <div class="main_data">
      <div class="col2" style="margin-bottom: 10px"><h4>عدد الأصدقاء على موقع توصيلة</h4></div>
      <div class="col3">
        <div title="عدد الأصدقاء على موقع توصيلة ، بناءا على مستوى الثقة الذي تم تحديده" class="friends_numbers"><%= user.friends_sum_str %></div>
      </div>
    </div>
    <div class="brk"></div>
  </div>
</div>