<div class="main_page_content">
  <h2 class="page_title"><%= t("users.new_user")%></h2>
  <div class="content_container">
    <%= render :partial => '/users/form', :locals=>{:account => account} %>
  </div>
</div>