<div class="list_item short_long high">
  <div class="main_logo">
    <img src="/images/icons/user_big.png">
  </div>
  <div class="main_data">
    <div class="col2 flag_weight"><label class="bold"><%= t("trust_level.level_#{flag.level}") %> </label> <%= flag.flag %></div>
  </div>
</div>