<div class="sub_page_content" style="margin-bottom: 35px;">
  <h3 class="title">تابعنا</h3>
  <div class="sub_page_container" style="text-align: center;">
    <div class="col2">
      <%= link_to(image_tag("/images/graphic/facebook_home.png"), FACEBOOK_PAGE, :target => "_blank")%>
    </div>
    <div class="col2">
      <%= link_to(image_tag("/images/graphic/twitter_home.png"), TWITTER_PAGE, :target => "_blank" )%>
    </div>
    <div class="clear"></div>
  </div>
</div>