<% if obj.errors.any? %>
  <div id="error_explanation">
    <h2><%= t("errors.errors_title") %></h2>
    <ul>
    <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    <div class="clear"></div>
  </div>
<% end %>