<li class="btn_itm">
  <div class="car_btn"><a href="#" id="map_hint_click" class="map_hint" title="تعرف على معاني الرموز على الخريطة"></a></div>
  <div id="map_hint_container" class="values_container">
    <div class="values_window">
      <div class="v_content">
        <p>تعرف على معاني الرموز على الخريطة</p>
        <div class="saved_value" style="height: 55px;">
          <div class="col6">
            <label>بداية التوصيلة</label>
            <img src="/images/icons/marker_green.png" style="margin-right: 20px;" />
          </div>
          <div class="col5">
            <label>مسار التوصيلة</label>
            <img src="/images/icons/marker.png" style="margin-right: 20px;" />
          </div>
          <div class="col5">
            <label>نهاية التوصيلة</label>
            <img src="/images/icons/marker_red.png" style="margin-right: 20px;" />
          </div>
          <div class="col5">
            <label>مكان المقابلة</label>
            <img src="/images/icons/marker_user.png" style="margin-right: 20px;" />
          </div>
        </div>
      </div>
    </div>
  </div>
</li>