<li class="btn_itm">
  <div class="car_btn"><a href="#" id="car_btn_click" title="كتابة وتحديد مسار التوصيلة" ></a></div>
  <div id="v_content_container" class="values_container">
    <div class="values_window">
      <div class="v_content">
        <div class="saved_value">
          <label>بداية التوصيلة</label>
          <span><input id="transport_start_point" type="text" class="input_txt larage" placeholder="مثال : الاسكندرية ، العصافرة"/></span>
          <span><input type="button" class="larage" value="بحث" onclick="codeAddress('transport_start_point')"/></span>
        </div>
        <div class="saved_value">
          <label>نهاية التوصيلة</label>
          <span><input id="transport_end_point" type="text" class="input_txt larage" placeholder="مثال : الاسكندرية ، رشدي"/></span>
          <span><input type="button" class="larage" value="بحث" onclick="codeAddress('transport_end_point')"/></span>
        </div>
        <div class="saved_value">
          <label>المسار</label>
          <span><input id="transport_path_points" type="text" class="input_txt large" placeholder="مثال : سيدي بشر ، ستانلي ، جليم"/></span>
        </div>
      </div>
    </div>
  </div>
</li>