<li class="btn_itm">
  <div class="car_btn"><a href="#" id="map_hint_click" class="map_hint" title="كيفية تحديد مكان المقابلة على الخريطة"></a></div>
  <div id="map_hint_container" class="values_container">
    <div class="values_window">
      <div class="v_content">
        <p>لتحديد مكان المقابلة على الخريطة فقط قم بالضغط على المكان في الخريطة بالزر الأيسر للماوس.</p>
        <p>يمكنك تغيير مكان اي نقطة بالضغط على اي مكان أخر على الخريطة.</p>
        <p>ولحذف النقطة انقر عليها بالزر الايمن للماوس.</p>
        <div class="saved_value" style="height: 55px;">
          <div class="col5">
            <label>مكان المقابلة</label>
            <img src="/images/icons/marker_user.png" style="margin-right: 20px;" />
          </div>
        </div>
      </div>
    </div>
  </div>
</li>