<div class="sub_page_content" style="margin-bottom: 35px;">
  <h3 class="title">خد حد فى سكتك</h3>
  <div class="sub_page_container">
    <p>لما يكون في اشخاص كتير معاهم عربيات وبيروحوا مشواير متكررة يوميا زي الشغل مثلا او بيروحوا بيها مشاوير بعيدة أو سفر أو حضور مؤتمرات او ما شبه ذلك ، واغلب العربيات بيكون فيها شخص واحد فقط، ده بجانب مصاريف البنزين المكلفة.</p>
    <div class="center_text">
      <p>خد حد معاك تعرفه فى سكتك، والي حيجي معاك ممكن يشارك فى تكلفة البنزين</p>
    </div>
    <p>لما نجمع بين الي معاه عربية وبين الي عاوز توصيلة ، والي عاوز توصيلة يساهم بالقليل من مصاريف التوصيلة ، كده الي معاه عربية حيوفر جزء من تكلفة البنزين والي عاوز توصيلة حيوفر كتير من تكلفة المواصلات وحيوفر فى الوقت كمان.</p>
  </div>
</div>