<div class="main_page_content">
  <h2 class="page_title"><%= t("pages.about") %></h2>
  <div class="content_container">
    <div class="sub_page_content">
      <h3 class="title">ليه توصيلة ؟</h3>
      <div class="sub_page_container">
        <p>لما يكون في اشخاص كتير معاهم عربيات وبيروحوا مشواير متكررة يوميا زي الشغل مثلا او بيروحوا بيها مشاوير بعيدة أو سفر أو حضور مؤتمرات او ما شبه ذلك ، واغلب العربيات بيكون فيها شخص واحد فقط، ده بجانب مصاريف البنزين المكلفة.</p>
        <p>ولما يكون في اشخاص كتير معهموش عربيات وبيقفوا كل يوم بالساعات علشان يلاقوا توصيلة او تاكسي يوصلهم لاقرب مكان للشغل او لاي مشوار وممكن يدفعوا اكثر في سبيل الوصول فى الموعد.</p>
        <p>لما نجمع بين الي معاه عربية وبين الي عاوز توصيلة ، والي عاوز توصيلة يساهم بالقليل من مصاريف التوصيلة ، كده الي معاه عربية حيوفر جزء من تكلفة البنزين والي عاوز توصيلة حيوفر كتير من تكلفة المواصلات وحيوفر فى الوقت كمان.</p>
      </div>
    </div>
    
    <div class="sub_page_content">
      <h3 class="title">ايه توصيلة !</h3>
      <div class="sub_page_container">
        <p>توصيلة عبارة عن موقع وبرنامج على المحمول علشان يقوم بعملية التنسيق بين الي معاه عربية وعاوز حد يركب معاه وبين الي عاوز توصيلة ، يمكنك البحث عن توصيلة فى المواعيد الي تناسبك وفي نطاق اصحابك واصحاب اصحابك ، وبقليل من الجهد حنوفر كتير من الجهد والتكلفة.</p>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <%= render "/shared/sidebar/like_box" %>
<% end %>