<div class="main_page_content">
  <h2 class="page_title"><%= t("pages.privacy") %></h2>
  <div class="content_container">
    <div class="sub_page_content">
      <h3 class="title"><%= t("pages.privacies.data") %></h3>
      <div class="sub_page_container">
        <p>بعض الخصوصيات بعض الخصوصيات بعض الخصوصيات بعض الخصوصيات بعض الخصوصيات بعض الخصوصيات بعض الخصوصيات بعض الخصوصيات </p>
      </div>
    </div>
    <div class="sub_page_content">
      <h3 class="title"><%= t("pages.privacies.accounts") %></h3>
      <div class="sub_page_container">
        <p>بعض الخصوصيات بعض الخصوصيات بعض الخصوصيات بعض الخصوصيات بعض الخصوصيات بعض الخصوصيات بعض الخصوصيات بعض الخصوصيات </p>
      </div>
    </div>
  </div>
</div>