<div class="main_page_content">
  <h2 class="page_title"><%= t("pages.terms") %></h2>
  <div class="content_container">
    <div class="sub_page_content">
      <h3 class="title"><%= t("pages.conditions.term") %></h3>
      <div class="sub_page_container">
        <p>شروط الإستخدام شروط الإستخدام شروط الإستخدام شروط الإستخدام شروط الإستخدام شروط الإستخدام شروط الإستخدام شروط الإستخدام شروط الإستخدام شروط الإستخدام </p>
      </div>
    </div>
    
  </div>
</div>