<div class="content">
  <div class="pages_content clearfix">
    <div class="main_page">
      <!-- <a id="main-close" title="'D0G'( 'DI 'D5A-) 'D1&J3J)" href="/"></a> -->
      <%= yield %>
      
      <div class="main_page_content">
        <div class="content_container content_container_for_adds">
          
          
        </div>
      </div>
      
    </div> 
    <%= render "/layouts/sidebar" %>
  </div>
</div>